celery==5.4.0
dash==3.0.2
dash_daq==0.6.0
dash_svg==0.0.12
diskcache==5.6.3
matplotlib==3.10.1
numpy==2.2.5
pandas==2.2.3
Pillow==11.2.1
plotly==6.0.1
Requests==2.32.3
scikit_learn==1.6.1
seaborn==0.13.2
shap==0.46.0
torch==2.5.1
torchvision==0.20.1
dash[diskcache]
psutil
ollama
gunicorn