:root,
body {
  color: #141717;
  padding: 0pxx;
  margin: 0px;
}
.stVerticalBlock,
.st-emotion-cache-kswft9,
.stVerticalBlockBorderWrapper,
.stMainBlockContainer .e1f1d6gn2 {
  padding: 0px;
  margin: 0px;
}
.stVerticalBlock,
.st-emotion-cache-kswft9,
.stVerticalBlockBorderWrapper,
.stMainBlockContainer .e1f1d6gn2 {
  padding: 0px;
  margin: 0px;
}
.stSidebar,
div[data-testid="stSidebarCollapsedControl"],
.stAppHeader {
  display: none;
}
.stApp,
.stAppViewContainer,
.withScreencast,
.stMainBlockContainer {
  background-color: transparent;
}
.stMainBlockContainer,
.block-container,
.stMain {
  padding: 0;
  margin: 0;
  display: block;
  max-width: 100%;
  min-width: 0px;
}
.stAppViewContainer{
  padding: 0 40px;
}
.sample {
  width: 200px !important;
}
