:root {
  --base: #eeffff;
  --soft_blue: #e3f4f4;
  --light_primary: #d2e9e9;
  --primary-disabled: #9BADAD;
  --primary: #c4dfdf;
  --foreground: #141717;

  --secondary: #ffeeee;
  --secondary_hover: #f9eaea;
  --secondary_light: #fff6f6;
  --secondary_disabled: #e8d7d7;

  --success: #a2e995;
  --success_hover: #8ac67f;
  --success_light: #b3ffa5;
  --success_disabled: #6d9865;

  --warning: #fadfa1;
  --warning_hover: #dfc790;
  --warning_light: #fce1a5;
  --warning_disabled: #c1ac7c;

  --error: #e55757;
  --error_hover: #ca4b4b;
  --error_light: #ff6565;
  --error_disabled: #a93a3a;
}

.navbar {
  box-shadow: 0 0 25px 0 hsla(180, 30%, 82%, 0.5);
}
@font-face {
  font-family: "Host Grotesk";
  src: url(/assets/fonts/HostGrotesk-VariableFont_wght.ttf);
}
body {
  color: #141717;
  background-color: #EEFFFF;
  font-family: "Host Grotesk";
  font-weight: medium;
  max-width: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
label:has(> input[type="checkbox"]) {
  display: flex;
  align-items: center;
  justify-items: center;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  position: relative;
  border-radius: 4px;
  margin: 4px 10px 0 0;
  padding-top: 1px;
  border: 1px solid #424242;
  overflow: hidden;
  transition: all ease-in-out 300ms;
}
input[type="checkbox"]:hover,
input[type="checkbox"]:checked {
  border: 1px solid #141717;
}
input[type="checkbox"]:checked::after {
  content: "";
  appearance: none;
  -webkit-appearance: none;
  width: 12px;
  height: 14px;
  top: 2px;
  left: 0.5px;
  position: absolute;
  background-image: url(/assets/images/icons/icons/check.svg);
  background-size: contain;
}
#use-row > div {
  width: fit-content;
}

/* toggle */
.daq-toggleswitch--light__label {
  display: flex;
  gap: 10px;
  flex-direction: row !important;
  align-items: center !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}
.daq-toggleswitch--light {
  margin-top: 2px;
}
.daq-toggleswitch--light__label label {
  padding-bottom: 1px;
}
.daq-toggleswitch--light__background {
  background-color: #b1cbcb !important;
}
.daq-toggleswitch--light__background button {
  background-color: #9badad;
  border: 1px solid #e3f4f4;
  outline: 0.5px solid #e3f4f4;
}
.Select-arrow-zone,
.Select-clear-zone {
  display: none !important;
}
/* 9BADAD */
#use-row .daq-toggleswitch--light__indicator--off,
#use-row .daq-toggleswitch--light__indicator--on {
  display: none;
}
/* selectbox */
.Select-control {
  border: none !important;
  background-color: transparent !important;
  max-height: 40px !important;
  position: relative !important;
}
#feedback .Select-control {
  height: 64px !important;
  font-size: 20px !important;
}
#feedback .Select-multi-value-wrapper {
  height: 64px !important;
}
.Select-multi-value-wrapper::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: 4px;
  top: 50%;
  transform: translateY(-48%);
  background-image: url(/assets/images/down.png);
}
.Select-placeholder, .Select-value {
  display: flex;
  align-items: center;
}
.Select-multi-value-wrapper,
.Select-control {
  background-color: #e3f4f4 !important;
  color: #141717 !important;
}
.Select-value-label,
.Select-value-icon {
  color: #141717 !important;
}
.Select-menu-outer .Select-menu {
  background-color: #e3f4f4 !important;
}
.VirtualizedSelectFocusedOption,
.VirtualizedSelectSelectedOption {
  background-color: #d2e9e9;
}
.Select-value {
  border: 1px solid #d2e9e9 !important;
}
/* Slider */

.rc-slider-rail {
  background-color: #d2e9e9;
}

.active-svg path{
  stroke: #141717;
}

.input {
  background-color: var(--soft_blue);
  color: var(--foreground);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--primary);
  transition: border ease-in-out 300ms;
}
.input:focus{
  border: 1px solid var(--primary-disabled)
}
.input::placeholder{
    color: var(--primary-disabled)
}
._dash-loading{
  display: fixed;
  width: 100vw !important;
  height: 100vh !important;
  background-color: #9ee0e0 !important;
  animation: pulse 1s infinite !important;
}
@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}